@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
:root {
    --col-1: #ffae00;
    --col-2: #3f72ff;
    --col-3: #42ff45;
    --col-4: #ff175d;
    --col-5: #aa60ff;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: radial-gradient(circle at 40% 20%, rgba(255, 140, 245, 0.03) 20%, transparent 40%),
        radial-gradient(circle at 60% 50%, rgba(61, 177, 160, 0.05) 100%, transparent 40%),
        radial-gradient(circle at 40% 60%, rgba(94, 35, 142, 0.03) 100%, transparent 40%);
}

a {
    color: #ffae00;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.material-symbols-rounded {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid #777;
    padding: 12px 2.5rem;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-family: inherit;
    font-size: 1.1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), transparent, rgba(0, 0, 0, 0.2));
    justify-content: space-between;
    background-color: transparent;
    z-index: 100;
}

nav a {
    text-decoration: none !important;
}

nav .brand {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    margin: 0;
}

nav .logo {
    width: auto;
    height: 3rem;
}

nav .links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav .links a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

nav .links a:last-child {
    background: #0066ff;
    padding: 8px 1.5rem;
    border-radius: 100rem;
    color: white;
    font-weight: 500;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .video-banner {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.12);
    pointer-events: none;
}

header .container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

header .container .headline {
    font-size: 7rem;
    margin: 1rem auto;
    font-weight: 600;
    max-width: 800px;
    overflow: visible;
    padding-bottom: 1rem;
    font-family: "DM Sans", sans-serif;
    line-height: 0.8;
    background: linear-gradient(90deg, #3363ff, #b45dfa, #ff0000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .container h2 {
    margin: 5rem 0 0 0;
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

header .container p {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 750px;
    margin: 0 auto 2rem auto;
}

header .container .cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header .container .cta-container .button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid #777;
    padding: 12px 2.5rem;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-family: inherit;
    font-size: 1.1rem;
    text-align: center;
    display: block;
}

header .container .headline .caret {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    height: 90px;
    width: 8px;
    margin: 0 0 -8px -12px;
    display: inline-block;
    animation: flash 800ms infinite;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1024px) {
    nav {
        padding: 2rem 5%;
        justify-content: center;
    }
    nav .brand {
        font-size: 1.2rem;
    }
    nav .links {
        display: none;
    }
    header {
        padding: 1rem;
    }
    header .container h2 {
        display: none;
    }
    header .container .headline {
        font-size: 5rem;
    }
    header .container .headline .caret {
        display: none;
    }
    header .container p {
        max-width: 600px;
        margin: 0 auto 1rem auto;
    }
}

@media (max-width: 768px) {
    header .container .headline {
        font-size: 4rem;
    }
    header .container p {
        font-size: 1.2rem;
    }
    header .container .cta-container {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }
}

@media (max-width: 425px) {
    header .container .headline {
        font-weight: 600;
        font-size: 3rem;
    }
    header .container .cta-container .button {
        width: 100%;
        margin: 0 !important;
        background: #ffb30010;
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(2rem);
        -webkit-backdrop-filter: blur(2rem);
    }
}

@media (max-width: 320px) {
    header .container .headline {
        font-size: 2.5rem;
    }
}
